
.Login {
    text-align: center;
    background-color: #0033a0;
    color:  white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Login input {
    color:white;
    align-self: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #0033a0;
    width: 75%;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    border-style: solid #ffffff 5px;
}
.Login input:focus{
    outline: none;
}
.Login input::placeholder{
    color:white;
}
.Login input[type=button] {
    text-align: center;
    width: 33%;
    background-color: #0033a0;
    Border: solid 2px #03FF3B;
    color: #03FF3B;
}
.LoginComment {
    color: #dedede;
    font-size: small;
}
.Login a {
    text-decoration: none;
    color: #03FF3B;
}
.Login a:hover {
    color: #03FF3B;
}